@media(max-width: 768px){
    .demo-class-content{
        display: inherit;
    }
    .breadcrumbs-content #breadcrumbs-content h2{
        font-size: 2.5rem;
    }
}
@media(max-width: 552px){
    #top-header .social-contact{
        display: none;
    }
    #banner-feature{
        padding: 2em 1em;
    }
    #top-header{
        display: none;
    }
    .tls-button{
        height: 35px;
        font-size: 0.7rem;
    }
    #popular-courses .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .0);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
    .contact-details .contact-icon{
        font-size: 30px;
    }
    .contact-details .contact-text{
        font-size: 12px;
    }
    /* #contact-no2{
        line-break:loose;
    } */
    #breadcrumbs,.breadcrumbs-content img{
        height: 220px;
    }
    .breadcrumbs-content #breadcrumbs-content h2{
        font-size: 2rem;
    }
    .course-details h2#course-type{
        font-size: 32px;
    }
    .course-details p{
        font-size: 0.8rem;
    }
    
}